
.profile{
    clip-path: circle();
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    height: 100%;
    max-width: 100px;
}
.name{
    text-align: center;
    padding:20px;
    color: #f84432;
    font-size: large;
font-family:'Times New Roman', Times, serif ;
}
